
@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe
@model IEnumerable<Performance>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
    int index = (int)ViewData["Index"];
    int count = 0;
    int noOfPerf = (int)ViewData["NumberOfPerformances"];
}
@section Styles
    {
    <style type="text/css">
        div.card-link {
            font-size: 2vw;
        }
    </style>
}
<div class="container-fluid justify-content-center" id="mainContent">
    @for (int i = 0; i < index; i++)
    {
    <div class="row">
        @for (int n = 0; n < 3; n++)
        {

            if (count < noOfPerf)
            {
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="card mb-3 text-center" style="box-shadow: 10px 10px 5px grey;">
                        <img class="card-img-top img-fluid"  style="padding:1vw;" src="@Url.Action("RenderPhoto", "Home", new { photoId = Model.ElementAt(count).Id })" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Title: @Html.DisplayFor(model => model.ElementAt(count).Name)</h5>
                            <p class="card-text">Description: @Html.DisplayFor(model => model.ElementAt(count).Description)</p>
                            

                        </div>
                        <ul class="list-group list-group-flush">                            <li class="list-group-item">Price Range: @Html.DisplayFor(model => model.ElementAt(count).PriceBand)</li>
                            <li class="list-group-item">Age Restriction: @Html.DisplayFor(model => model.ElementAt(count).AgeRestriction)</li>
                        </ul>
                        <div class="card-body">
                            <a class="card-link" asp-controller="Reviews" asp-action="Index" asp-route-id="@Model.ElementAt(count).Id" title="Find Reviews">Reviews(@Model.ElementAt(count).Review.Count)</a>
                            @if (SignInManager.IsSignedIn(User))
                            {

                                @if (User.IsInRole("SalesStaff"))
                                {
                                    <a class="card-link" asp-controller="Booking" asp-action="Buy" asp-route-id="@Model.ElementAt(count).Id" title="Book Tickets">Book Tickets</a>
                                }
                                else
                                {
                                    <a class="card-link" asp-controller="Booking" asp-action="Buy" asp-route-id="@Model.ElementAt(count).Id">Add To Basket</a>
                                    <br />
                                    <a class="card-link" asp-controller="Booking" asp-action="Buy" asp-route-id="@Model.ElementAt(count).Id" title="Buy Tickets">Buy Tickets</a>

                                }

                            }
                            else
                            {
                                <a class="card-link" asp-controller="Account" asp-action="Login" title="Login">Login To Buy Tickets</a>
                            }

                            </div>
                        </div>
                    </div>
                    }
                    else
                    {
                    break;
                    }
                    count++;
                    }
                </div>
            }
        </div>
<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        //$("span").click(function () {
        //    $(this).hide();
        //});
        $("button").click(function () {
            if ($("span").text().toString() != "Added");
            $("span").text("Added");
        });
        //$("#mainContent").on("click", ".baskets", function () {
        //    var self = $(this).closest("a");
        //    var child = self.children();
        //    var el = child.find(".baskets");
        //    if (el.text().toString() != "Add To Basket") {
        //        el.text("Add To Basket");
        //    }
        //    else {
        //        el.text("Added");
        //    }
        //});
    });
</script>