@model IEnumerable<Order>
@{
    ViewData["Title"] = "All Orders";
}

<h1>All Orders</h1>

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("SalesStaff") || User.IsInRole("Manager"))
    {
        <a asp-action="IndexOrders"
           class="btn btn-primary active">
            My Created Orders
        </a>
    }
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>

            <th>
                User Email Address
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryMethod)
            </th>
            @if (User.IsInRole("Manager") || User.IsInRole("SalesStaff"))
            {

                <th>
                    @Html.DisplayNameFor(model => model.IsPrinted)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryMethod)
            </td>
            @if (User.IsInRole("Manager") || User.IsInRole("SalesStaff"))
            {
                <td>
                    @if (item.IsPrinted)
                    {
                        <div class="alert alert-success">
                            <span>Printed</span>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <span>Not Printed</span>
                        </div>
                    }
                </td>
            }
            <td>

                <a asp-action="OrderedTickets" asp-route-id="@item.Id">Order details</a>
                @if (SignInManager.IsSignedIn(User))
                {
                    if (User.IsInRole("SalesStaff") || User.IsInRole("Manager"))
                    {
                        <span>|</span>
                        <a asp-action="PrintTickets" asp-route-id="@item.Id">Print</a>
                    }
                }
            </td>
        </tr>
        }
    </tbody>
</table>