@model TicketAndReceipt

@{
    ViewData["Title"] = "BuyNow";
}

@section Styles {
    <style type="text/css">
        .ticket {
            border: 2px solid black;
            padding: 5px;
        }
    </style>
}

@for (int i = 0; i < Model.Tickets.Count(); i++)
{
    <div class="jumbotron">
        <h1 class="display-4">
            <span class="font-weight-bold">Play :</span> @Model.Tickets.ElementAt(i).PerformanceName
            <br />   <span class="font-weight-bold">Date :</span> @Model.Tickets.ElementAt(i).PerformanceTime
        </h1>
        <p class="lead"><span>Customer : @Model.PersonName</span></p>
        <hr class="my-4">
        <p>
            <span class="font-weight-bold">Row Number : </span> @Model.Tickets.ElementAt(i).RowNumber <br />
            <span class="font-weight-bold">Seat Letter :</span> @Model.Tickets.ElementAt(i).SeatLetter 
        </p>
        <p>
            <span>Price: @Model.Tickets.ElementAt(i).Price </span>
        </p>
       </div>
}

<br />
<br />
<div class="container ticket">
    <div class="row">
        <div class="col col-lg-8 justify-content-start">
            Dear @Model.PersonName, thanks for shopping with us!
        </div>
        <div class="col col-lg-2 justify-content-end">
            You just paid: @Model.TotalCost 
            @if(Model.DiscountApplied)
            {
                <span></span>
            }
        </div>
    </div>
</div>

