@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Agencies and Clubs";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @if (item.ApprovedMultipleDiscounts != true)
                    {
                        <a asp-action="ApproveAgency" asp-route-id="@item.Id">Approve</a>
                    }
                    else
                    {
                        <a asp-action="CancelAgencyDiscount" asp-route-id="@item.Id">Cancel Discounts</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
