@model BuyTicket


@{
    ViewData["Title"] = "Buy";
}




<h1>Select Date</h1>
<hr />
<div class="container-fluid justify-content-center">
    <h1>Title: @Html.DisplayFor(model => model.PerformanceName)</h1>
    <br />
        <img class="img-thumbnail" src="@Url.Action("RenderPhoto", "Home", new { photoId = Model.PerformanceId })" alt="Card image cap" />
    
    <form method="get" asp-controller="Booking" asp-action="Seating" asp-route-id="@Model.PerformanceId">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">
                        Description: @Model.Description
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label">Performance Date and Time: </label>
                    <p>
                        <select name="DateSelected" asp-items="Model.LiveDates"></select>
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col col-10">

                <p>Price Range:<span> @Model.PriceBand</span><span class="text-success"> 20% discounts for online bookings Monday-Thursday</span></p>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Choose a Seat" class="btn btn-primary" />
        </div>
    </form>
    <div>
        <a asp-action="Index" asp-controller="Home">Back to List</a>
    </div>
</div>




