@model OldBuyTicket
@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Seating";
    var date = ViewBag.Date;
}

@section AddToHead{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
}
@section Styles
    {

    <link rel="stylesheet" type="text/css" href="css/jquery.countdown.css">
    <style type="text/css">
        div.seating {
            height: 100px;
            background-color: burlywood;
            border: 1px solid grey;
        }

        span.chairs {
            width: 30px;
            height: 30px;
            background-color: white;
            display: inline-block;
            cursor: pointer;
        }

        a.nav-link {
            display: inline;
        }


        div.centerSeats {
            padding: 10px 0;
        }
    </style>
}

<h1 id="perfDate" value="@Model.PerformanceDateId">Pick a seat for @Html.DisplayFor(model => model.PerformanceName) on date: @Html.DisplayFor(model => model.SelectedDate)</h1>
<h2>You have 5 minutes to make your mind: </h2>
<div class="row justify-content-center">
    <div class="col col-md-6" id="counter">
        <span id="timer"></span>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col col-lg-2">
        <h3 class="text-success">Band Colors:</h3>
    </div>
    <div class="col col-lg-2">
        Band A : <span class="chairs" style="background-color: burlywood;"></span>
    </div>
    <div class="col col-lg-2">
        Band B : <span class="chairs" style="background-color: darksalmon;"></span>
    </div>
    <div class="col col-lg-2">
        Band C : <span class="chairs" style="background-color:grey;"></span>
    </div>
</div>
@if (Model.DiscountApplied)
{
    <div class="row justify-content-center">
        <div class="col col-10">
            <h3 class="text-success">Take Advantage of the discounted prices, now is time to buy tickets!</h3>
            <p>Price Range: <span style="text-decoration:line-through">@Model.PriceBand</span><span style="font-size:2em; padding:2px;" class="priceRange" value="@Model.DiscountedPrices"> Discounted: @Model.DiscountedPrices</span><span class="text-success"> 20% discounts for online bookings Monday-Thursday</span></p>
        </div>
    </div>
}
else
{
    <div class="row justify-content-center">
        <div class="col col-10">
            <p class="priceRange" value="@Model.DiscountedPrices">Price Range:@Model.PriceBand<span class="text-success"> 20% discounts for online bookings Monday-Thursday</span></p>
        </div>
    </div>
}
@for (int i = 0; i < 3; i++)
{
    <div class="row justify-content-center">
        <div class="col col-10">
            <h3 class="text-success" id="@Model.RowNames.ElementAt(i)" value="@Model.Costs.ElementAt(i)">Row @Model.RowNames.ElementAt(i) Prices: @Model.Costs.ElementAt(i)</h3>
        </div>
    </div>
}
<div id="update-message">
</div>
@using (Html.BeginForm("BuyNow", "Booking", FormMethod.Get))
{
    @Html.HiddenFor(m => m.PerformanceDateId)
    @Html.HiddenFor(m => m.SavedSeats)
    <div class="container-fluid" style="border:2px solid black;">
        <br />
        <br />
        <div class="row justify-content-md-center px-sm-3" style="box-sizing: border-box;">
            <div class="col col-10" style="background-color: grey">
                <div class="row centerSeats px-sm-3">
                    <div class="col justify-content-center">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(20).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(20).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(20).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                            @*Html.HiddenFor(model => model.BookedSeats.ElementAt(20).Id, Model.BookedSeats.ElementAt(20).Id.ToString())*@
                            @*@Html.HiddenFor(m => m.SavedBooking[20], @Model.SavedBooking.ElementAt(20).ToString())*@

                        </a>
                    </div>
                    <div class="col justify-content-center">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(21).Id" value="@Model.BookedSeats.ElementAt(21).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(21).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(21).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                    <div class="col justify-content-center">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(22).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(22).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(22).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                    <div class="col justify-content-center">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(23).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(23).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(23).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                    <div class="col justify-content-center">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(24).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(24).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(24).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                    <div class="col justify-content-center">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(25).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(25).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(25).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                    <div class="col justify-content-center">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(26).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(26).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(26).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                    <div class="col justify-content-center">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(27).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(27).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(27).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                </div>
                <div class="row centerSeats px-sm-3" style="background-color: grey">
                    <div class="col col-2 justify-content-center">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(18).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(18).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(18).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                    <div class="col col-3"></div>
                    <div class="col col-1 justify-content-end" style="background-color: darksalmon">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(16).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(16).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(16).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                    <div class="col col-1 justify-content-start" style="background-color: darksalmon">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(17).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(17).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(17).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                    <div class="col col-3"></div>
                    <div class="col col-2 ml-auto">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(19).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(19).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(19).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <br />
        <div class="row justify-content-md-center px-sm-3">
            <div class="col col-10 seating">
                <div class="row justify-content-md-center centerSeats px-sm-3">
                    <div class="col col-4" style="background-color: darksalmon">
                        <div class="row px-sm-3 centerSeats" style="border:2px solid black;">
                            <div class="col-sm justify-content-center">
                                <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(12).Id">
                                    <span class="chairs" value="@((Model.BookedSeats.ElementAt(12).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(12).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                                    </span>
                                </a>
                            </div>
                            <div class="col-sm justify-content-center">
                                <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(13).Id">
                                    <span class="chairs" value="@((Model.BookedSeats.ElementAt(13).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(13).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                                    </span>
                                </a>
                            </div>
                            <div class="col-sm justify-content-center">
                                <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(14).Id">
                                    <span class="chairs" value="@((Model.BookedSeats.ElementAt(14).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(14).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                                    </span>
                                </a>
                            </div>
                            <div class="col-sm justify-content-center">
                                <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(15).Id">
                                    <span class="chairs" value="@((Model.BookedSeats.ElementAt(15).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(15).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row justify-content-md-center centerSeats px-sm-3">
            <div class="col col-4 seating">
                <div class="row px-sm-3 centerSeats">
                    <div class="col-sm justify-content-center">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(6).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(6).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(6).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                    <div class="col-sm justify-content-center">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(7).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(7).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(7).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                    <div class="col-sm justify-content-center">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(8).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(8).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(8).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                </div>
                <div class="row px-sm-3">
                    <div class="col-sm justify-content-center">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(0).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(0).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(0).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                    <div class="col-sm justify-content-center">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(1).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(1).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(1).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                    <div class="col-sm justify-content-center">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(2).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(2).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(2).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col col-2" style="background-color:white;">

            </div>
            <div class="col col-4 seating">
                <div class="row px-sm-3 centerSeats">
                    <div class="col-sm justify-content-center">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(9).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(9).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(9).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                    <div class="col-sm justify-content-center">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(10).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(10).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(10).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                    <div class="col-sm justify-content-center">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(11).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(11).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(11).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                </div>
                <div class="row px-sm-3">
                    <div class="col-sm justify-content-center">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(3).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(3).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(3).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                    <div class="col-sm justify-content-center">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(4).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(4).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(4).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                    <div class="col-sm justify-content-center">
                        <a href="#" class="nav-link" id="@Model.BookedSeats.ElementAt(5).Id">
                            <span class="chairs" value="@((Model.BookedSeats.ElementAt(5).Booked == 2) ? "booked" : "notBooked")" @if (Model.BookedSeats.ElementAt(5).Booked == 2) { <text> style="background-color:red; cursor:not-allowed;" </text> ; }>

                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row justify-content-center">
            <div class="col-md-8 text-center" style="border:4px solid black;">
                Stage
            </div>
        </div>

        <br />
        <br />
    </div>

    <div class="form-control">
        <input name="total" id="totalMoney2" value="0" disabled />

        @*@Html.Hidden(model => model.Total, @Model.Total.ToString(), new { @id = "totalMoney2", @name = "name", disabled = "disabled" })*@
        @Html.HiddenFor(model => model.Total)
    </div>
    <div class="form-group">
        <script src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="@Stripe.Value.PublishableKey"
                data-locale="auto"
                data-description="GCT Theatre"
                data-allow-remember-me="false">
        </script>
        <button type="button" data-val="@Url.Action("AddToBasket", "Booking")" id="addBasket" class="btn btn-primary">Add To Basket</button>
    </div>
    @if (SignInManager.IsSignedIn(User))
    {

        @if (!User.IsInRole("SalesStaff"))
        {
            <div class="form-control">
                <span>Remember my details </span> @Html.CheckBoxFor(model => model.RememberMe)
            </div>
            }
        }
        }
        @*<form method="get" asp-controller="Booking" asp-action="BuyNow"></form>*@
    <p id="test"></p>
    <script type="text/javascript">

        //$(function () {
        //    // document.ready -> link up remove event handler
        //    $(".nav-link").click(function () {
        //        // get the id from the link
        //        var chairchosen = $(this).attr("data-id");
        //        if (chairchosen != '') {
        //            // perform the ajax post
        //            $.post("/booking/reserveseat", { "id": chairchosen },
        //                function (data) {
        //                    // successful requests get here
        //                    // update the page elements
        //                    $('#name-' + data).fadeout('slow');
        //                });
        //        }
        //    });


        //works only with 1 parameter
        //$(document).ready(function () {
        //    $(".nav-link").click(function () {
        //        var chairChosen = $(this).attr("data-id");
        //        var perfDateId = $("#perfDate").attr("id");
        //        window.alert(chairChosen);
        //        $.ajax({
        //            url: '/Booking/ReserveSeat/' + chairChosen,
        //            type: 'POST',
        //            success: function (html) {

        //            },
        //            error: function (error) {
        //                $(that).remove();
        //                DisplayError(error.statusText);
        //            }
        //        });

        //    });

        //});
        $(document).ready(function () {
            $("span.chairs").mouseover(function () {
                var chair = $(this).attr("value");
                if (chair == "notBooked") {
                    $(this).css("background-color", "lawngreen");
                }
            });
            $("span.chairs").mouseout(function () {
                var chair = $(this).attr("value");
                if (chair == "notBooked") {
                    $(this).css("background-color", "white");
                }

            });
            $("button#addBasket").click(function () {

                var perfDateId = $("#perfDate").attr("value");
                var totalCost = $("#totalMoney2").attr("value");
                var savedSeats = $("#SavedSeats").attr("value");
                $.ajax({
                    url: '/Booking/AddToBasket/?' + 'savedSeats=' + savedSeats,
                    type: 'POST',
                    success: function (html) {
                        if (html == "Ok") {
                            window.location.href = "/Booking/Basket";
                        }
                    },
                    error: function (error) {
                        $(that).remove();
                        DisplayError(error.statusText);
                    }
                });



            });
            var chairChosen = "";
            $(".nav-link").click(function () {
                chairChosen = $(this).attr("id");
                //var valueChair = $(this).attr("value");
                var perfDateId = $("#perfDate").attr("value");
                var totalCost = $("#totalMoney2").attr("value");
                var row = "";
                var num = Number(chairChosen) + 1;
                if ((num + 1) < 13 && (num + 1) > 0) {
                    row = "A";
                } else if ((num + 1) < 19) {
                    row = "B";
                } else if ((num + 1) < 29) {
                    row = "C";
                } else {
                    row = "B";
                }
                var ticketCost = Number($("#" + row).attr("value")).toFixed(2);
                var valueChair = $(this).children().first().attr("value");
                if (valueChair == "notBooked") {

                    $.ajax({
                        url: '/Booking/ReserveSeat/?id=' + chairChosen + '&perfDateId=' + perfDateId,
                        type: 'GET',
                        success: function (html) {
                            $("a.nav-link#" + chairChosen).click(function (e) {
                                e.preventDefault();
                            });
                            var savedSeats = $("#SavedSeats").attr("value");
                            $("#totalMoney2").attr("value", (Number(totalCost) + Number(ticketCost)).toFixed(2));
                            $("#Total").val((Number(totalCost) + Number(ticketCost)).toFixed(2));
                            $("#SavedSeats").val(savedSeats + chairChosen + " ");
                            $(".nav-link#" + chairChosen).children().first().css({ "background-color": "blue" });
                            $(".nav-link#" + chairChosen).children().first().attr("value", "saved");


                        },
                        error: function (error) {
                            $(that).remove();
                            DisplayError(error.statusText);
                        }
                    });
                } else if (valueChair == "booked") {
                    window.alert("The seat you selected is already taken");


                } else {
                    var savedAlready = $("#SavedSeats").attr("value");
                    var pos = savedAlready.indexOf(chairChosen);
                    if (pos != -1) {
                        savedAlready = savedAlready.replace(chairChosen + " ", "");
                    }
                    $("#SavedSeats").val(savedAlready);
                    $("#totalMoney2").attr("value", (Number(totalCost) - Number(ticketCost)).toFixed(2));
                    $("#Total").val((Number(totalCost) - Number(ticketCost)).toFixed(2));
                    $(".nav-link#" + chairChosen).children().first().css({ "background-color": "white" }).attr("value", "notBooked");
                }


            });
        });


        //var seats = 0;
        //function setSeats() {
        //    var count1 = $('#numberOfSeats').val();

        //    for (var i = 23; i > 0; i--) {
        //        $(".pos" + i).hide();
        //    }

        //    for (var i = 1; i < count1; i++) {
        //        $(".pos" + i).show(500);
        //    }
        //}
    </script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

